.App {
  text-align: center;
}
form {
  height: 3em;
}
form button {
  border: solid;
  border-color: #007bff;
  background: #007bff;
  color: white;
}
.notification{
  color: red;
  font-size: small;
}
.tickers {
  width: 80%;
  margin:  0 auto;
}
.ticker-container {
  border: 1px grey solid;
  margin-top: 15px;
}
.ticker-info {
  display: flex;
  background-color: #53a6ff;
  padding-bottom: 5px;
  padding: 10px;
  color: white;
}
.ticker-info .ticker-name {
  align-items: center;
  display: inline-flex;
}
.ticker-info button {
  margin-left: auto;
  background-color: #dc3545db;;
  border: none;
  border-radius: 10px;
  color: white;
}
.tweets-container {
  padding: 0.5em;
  text-align: left;
  overflow: auto;
  height: 25vh;
}
.tweet {
  padding: 10px;
  overflow-wrap: break-word;
}
.tweet:nth-child(even){
  background-color: #a8d2ff59;
}
.tweetCount {
  text-align: right;
}